// style reset and initialization;
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
}

#rootContainer {
  height: 100vh;
  background-color: #f5f5f5;
  .productQuantity {
    width: 130px;
  }
}